<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CursProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CursProject.Properties.Settings.TourDbConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TourDb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <requiredRuntime version="v4.0.20506" />
  </startup>
  <userSettings>
    <CursProject.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TourDb.mdf;Integrated Security=True</value>
      </setting>
    </CursProject.Properties.Settings>
  </userSettings>
</configuration>
